.banner-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url("https://i.ibb.co/0t62sSM/Home-Image1.jpg") no-repeat center / cover;
}
.banner-text-wrapper {
    position: absolute;
    left: 13%;
    top: 53%;
    color: black;
    text-align: right;
    font-family: WheatonCapitals-Regular;
}
.banner-text-wrapper h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Raleway', 'Hiragino Sans GB';
    white-space: nowrap;
    color: black;
    margin-bottom: 8px;
}
.banner-text-wrapper h2 p {
    color: #FFB800;
    display: inline-block;
    margin: 0;
}
.banner-text-wrapper .line {
    width: 0.8px;
    height: 76px;
    position: absolute;
    background: rgba(255,255,255,0.44);
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.03),rgba(255,255,255,0.6),rgba(255,255,255,0.03));
    background-image: -moz-linear-gradient(top,rgba(255,255,255,0.03),rgba(255,255,255,0.6),rgba(255,255,255,0.03));
    background-image: -ms-linear-gradient(top,rgba(255,255,255,0.03),rgba(255,255,255,0.6),rgba(255,255,255,0.03));
    background-image: -o-linear-gradient(top,rgba(255,255,255,0.03),rgba(255,255,255,0.6),rgba(255,255,255,0.03));
    top: 70px;
    right: -25px;
}
.banner-text-wrapper > p {
    margin: 10px auto 24px;
    font-size: 16px;
}
.banner-text-wrapper .start-button {
    margin-bottom: 24px;
    text-align: right;
}
.banner-text-wrapper .start-button > a {
    display: inline-block;
    height: 40px;
    padding: 0 16px;
    font-weight: 500;
    border-radius: 3;
    border: 1px solid tint(#FFB800,20%);
    text-decoration: none;
    color: #FFB800;
    font-size: 15px;
    background: transparent;
    transition: all .45s;
    text-align: center;
    line-height: 36px;
    margin-left: 8px;
}
.banner-text-wrapper .start-button > a:hover {
    color: #fff;
    background: tint(#FFB800,20%);
}
.banner-text-wrapper .github-btn {
    float: right;
    line-height: 14px;
    text-align: left;
}
.banner-text-wrapper .github-btn a:hover {
    color: #333;
}
.down {
    text-align: center;
    position: absolute;
    bottom: 30px;
    color: rgba(255,255,255,0.75);
    left: 50%;
    margin-left: -7px;
    animation: upDownMove 1.2s ease-in-out infinite alternate;
}
.page {
    min-height: 700px;
    height: 100vh;
}
.content-wrapper {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    background: #fff;
}
.content-wrapper .image-wrapper {
    width: 65%;
    float: left;
    position: relative;
}
.content-wrapper .text-wrapper {
    width: 35%;
    float: left;
    position: relative;
    top: 20%;
    left: -30px;
    font-family: Lato, ;
    z-index: 1;
}
.content-wrapper .text-wrapper h2, .content-wrapper .text-wrapper-bottom h2 {
    font-size: 32px;
    color: none;
    font-weight: normal;
    white-space: nowrap;
}
.content-wrapper .text-wrapper p {
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #999;
}
.content-wrapper .left-text {
    padding-left: 10%;
}
.image1 {
    background: url("https://t.alipayobjects.com/images/T1Ch8kXfpdXXXXXXXX.png") no-repeat right / 841px;
    height: 511px;
    top: 50%;
    margin-top: -256px;
}
.image2 {
    background: url("https://t.alipayobjects.com/images/T1r5RkXotXXXXXXXXX.png") no-repeat left / 800px;
    height: 474px;
    top: 50%;
    margin-top: -266px;
}
.image3 {
    padding-right: 10%;
    background: url("https://t.alipayobjects.com/images/T1nx0kXdFfXXXXXXXX.png") no-repeat right / 639px;
    background-origin: content-box;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}
.image4 {
    background: url("https://t.alipayobjects.com/images/T1lyJkXg4aXXXXXXXX.png") no-repeat center / 615px;
    height: 364px;
    margin: auto;
}
.text-wrapper-bottom {
    text-align: center;
    margin: 10% auto 40px;
}
.text-wrapper-bottom p {
    margin: 20px auto;
    font-size: 16px;
    line-height: 28px;
    color: #999;
}
@keyframes upDownMove {
    to {
        transform: translateY(10px);
   }
}
.fd-content {
    min-width: 1216px;
    background: #FFF;
    font-family: PingFangSC, Helvetica Neue, Helvetica, PingFang SC-Light, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
h2, h3, h4, h5 {
    font-weight: 100;
}
.home-layout-wrapper {
    width: 100%;
    height: 720px;
    text-align: center;
    overflow: hidden;
}
.home-layout-wrapper .home-layout {
    margin: 0 auto;
    width: 1152px;
    padding: 0 24px;
    overflow: hidden;
    height: 100%;
}
.home-layout-wrapper .home-layout >div {
    float: left;
    width: 100%;
}
.home-layout-wrapper .home-layout .col .content-wrapper {
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.home-layout-wrapper:nth-of-type(odd) {
    background: #fff;
}
.home-layout-wrapper:nth-of-type(even) {
    background-color:none  ;
}
h2, h3 {
    text-align: center;
    font-weight: normal;
}
h2 {
    font-size: 30px;
    line-height: 38px;
    color: none;
    margin-top: 88px;
}
h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: none;
}
.line {
    width: 40px;
    height: 2px;
    display: block;
    background: #FFBF00;
    margin: 16px auto 72px;
}
.home-banner {
    height: 656px;
    color: #fff;
}
.home-banner g, .home-banner ellipse {
    transform-box: fill-box;
}
.home-banner .home-layout {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0;
    text-align: left;
}
.home-banner .home-banner-content-wrapper, .home-banner .home-banner-image-wrapper {
    width: 50%;
    display: inline-block;
}
.home-banner .home-banner-content-wrapper {
    height: 178px;
    margin-bottom: 40px;
}
.home-banner h1 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 16px;
    font-weight: normal;
    color:none ;
}
.home-banner p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
    color: none;
}
.home-banner span {
    display: inline-block;
}
.home-banner button {
    width: 168px;
    height: 48px;
    font-size: 20px;
}
.home-banner .home-banner-image-wrapper {
    text-align: center;
    margin-top: -120px;
}
.home-func-wrapper {
    height: 720px;
    text-align: center;
}
.home-func-wrapper .image {
    height: 240px;
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    margin-bottom: 62px;
}
.home-func-wrapper .col {
    height: 400px;
}
.home-func-wrapper p {
    font-size: 16px;
    color: none;
}
.home-hover {
    border: 1px solid #E9E9E9;
    transition: transform .45s cubic-bezier(0.645,0.045,0.355,1), box-shadow .45s cubic-bezier(0.645,0.045,0.355,1), border .45s cubic-bezier(0.645,0.045,0.355,1);
}
.home-hover:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 24px rgba(0,0,0,0.1);
    border-color: #fff;
}
.home-case-wrapper .col .content-wrapper {
    height: 360px;
    padding: 16px;
}
.home-case-wrapper .col .content-wrapper .image {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-case-wrapper .col .content-wrapper:hover .code-wrapper {
    opacity: 1;
}
.home-case-wrapper .col .code-wrapper {
    position: absolute;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.45s cubic-bezier(0.165,0.84,0.44,1);
}
.home-case-wrapper .col .code-wrapper h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 72px auto 12px;
    color: none;
}
.home-serve-wrapper {
    height: 788px;
    text-align: center;
}
.home-serve-wrapper .col {
    font-size: 16px;
}
.home-serve-wrapper .col .content-wrapper {
    padding: 24px 16px;
    height: 440px;
}
.home-serve-wrapper .col .content-wrapper .icon-hover {
    opacity: 0;
    transition: opacity .45s;
}
.home-serve-wrapper .col .content-wrapper:hover .icon-hover {
    opacity: 1;
}
.home-serve-wrapper .col .content-wrapper:hover p {
    color: rgba(0,0,0,0.65);
}
.home-serve-wrapper .col .image {
    width: 32px;
    height: 32px;
    margin: 8px auto 12px;
}
.home-serve-wrapper .col h3 {
    margin-bottom: 24px;
}
.home-serve-wrapper .col p {
    margin-bottom: 12px;
    color: none;
    transition: color .3s;
    font-weight: 400;
}
.home-serve-wrapper .col .exp {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    font-size: 20px;
    color: rgba(0,0,0,0.25);
}
.home-user-wrapper {
    height: 440px;
}
.home-user-wrapper h2 {
    margin-top: 64px;
}
.home-user-wrapper .col {
    margin-bottom: 32px;
}
.home-user-wrapper .col i {
    display: block;
    width: 170px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
