#avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

#header {
    position: fixed;
    z-index: 999;
    background: rgb(180, 179, 179);
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455,0.03,0.515,0.955);
    /* background: .5s cubic-bezier(0.455,0.03,0.515,0.955); */
    height: 81px;
    padding: 0 48px;
    width: 100%;
}

#nav {
    background: rgb(180, 179, 179);
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455,0.03,0.515,0.955);
}

#header-home {
    z-index: 999;
    position: fixed;
    z-index: 999;
    background: rgba(61, 61, 61, 0.247);
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455,0.03,0.515,0.955);
    /* background: .5s cubic-bezier(0.455,0.03,0.515,0.955); */
    height: 81px;
    padding: 0 48px;
    width: 100%;
}
/* 
#header-noactive {
    z-index: 999; 
    background: rgba(48, 48, 48, 0.247);
    border-bottom: 1px solid transparent;
    background: rgb(255, 255, 255);
    border-bottom: 3px solid black;
    transition: border .5s cubic-bezier(0.455,0.03,0.515,0.955);
    background: .10s cubic-bezier(0.455,0.03,0.515,0.955);
    height: 80px;
    padding: 0 48px;
    width: 100%;
} */

#logo {
    justify-self: start;
    margin-left: 3px;
    margin-top: none;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

#logo img {
    height: 85px;
    width: 280px;
}

#nav {
    border: 0;
    float: right;
    font-size: 14px;
    font-family: Lato, ;
}

#profile {
    font-weight: bold;
}

#nav li {
    height:80px ;
    line-height: 80px;
    min-width: 72px;
    text-align: center;
    border-bottom-width: 3px;
}

#header-home .ant-select-selection, #header-home .ant-menu {
    background: transparent;
}

#header-noactive .ant-select-selection, #header-noactive .ant-menu {
    background: transparent;
}

#nav li {
    color: black;
    transition: all 0.5s cubic-bezier(0.455,0.03,0.515,0.955);
}
#nav a.header-link {
    color: black; 
}
/* .home-nav-white #nav a.header-link {
    color: rgba(0,0,0,0.65);
} */
